[package]
version = "0.1.0"
name = "sp1-script"
edition = "2021"
default-run = "sp1-script"

[[bin]]
name = "sp1-script"
path = "src/main.rs"

[dependencies]
sp1-zkvm = { workspace = true }
sp1-sdk = { workspace = true }
serde_json = { workspace = true }
serde = { workspace = true }
clap = { workspace = true }
hex = { workspace = true }
jmt = { workspace = true }
rand = { workspace = true }
keystore-rs = { workspace = true }
prism-tree = { workspace = true }
prism-common = { workspace = true }
prism-serde = { workspace = true }
prism-keys = { workspace = true }
sha2 = { workspace = true }

[patch.crates-io]
sha2-v0-10-8 = { git = "https://github.com/sp1-patches/RustCrypto-hashes", package = "sha2", tag = "patch-sha2-0.10.8-sp1-4.0.0" }
curve25519-dalek-ng = { git = "https://github.com/sp1-patches/curve25519-dalek-ng", tag = "patch-4.1.1-sp1-4.0.0" }
