[package]
name = "prism-lightclient"
version.workspace = true
edition.workspace = true
license.workspace = true
homepage.workspace = true
repository.workspace = true

[features]
default = []
test_utils = []
mock_prover = []

[dependencies]
async-trait = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
ed25519-consensus = { workspace = true }
base64 = { workspace = true }
tokio = { workspace = true }
bincode = { workspace = true }
bls12_381 = { workspace = true }
hex = { workspace = true }
log = { workspace = true }
toml = { workspace = true }
dirs = { workspace = true }
anyhow = { workspace = true }
jmt = { workspace = true }
auto_impl = { workspace = true }
prism-common = { workspace = true, features = ["test_utils"] }
prism-errors = { workspace = true }
prism-da = { workspace = true }
sp1-sdk = { workspace = true }
rand = { workspace = true }
